.history
*.iws
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/*.iml
/*.ipr
/out
/RUNNING_PID
dist
lib_managed
logs
node_modules/
npm-debug.log
project/project
project/target
target
tmp
yarn-debug.log
yarn-error.log
