.aeh-main {
  border-top: 15px solid #009ddb;
}
.aeh-main img {
  max-width: 100%;
  height: auto;
}

.aeh-header {
  position: relative;
  z-index: 0;
  padding: 15px 0;
  background-color: #009ddb;
}
.aeh-header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  border-left: 100vw solid #009ddb;
  box-shadow: 100vw 0 0 #009ddb;
  z-index: -1;
}
.aeh-header-main {
  background-color: #ffdd00;
  padding: 10px;
  font-weight: 100;
}
.aeh-header-sub {
  color: #ffffff;
  font-weight: 100;
}

.aeh-section {
  border-top: 1px solid #b1b4b6;
  padding: 20px 0;
}
.aeh-section--no-border {
  border-top: none;
  padding: 20px 0;
}

.aeh-text {
  color: #009ddb;
}

.aeh-link:link, .aeh-link:visited {
  color: #009ddb;
}
.aeh-link:hover, .aeh-link:focus {
  color: #0b0c0c;
}
a:focus {
	outline-color: #ffdd00;
    background-color: #ffdd00;
}


.aeh-float-left {
  float: left;
}
.aeh-float-right {
  float: right;
}
.aeh-float-clear {
  float: none;
  clear: both;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hmrc-banner {
  padding: 10px 0 8px;
  position: relative
}
@media (min-width: 641px) {
  .hmrc-banner {
    padding-bottom: 10px
  }
}
.hmrc-banner p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286
}
@media (min-width: 641px) {
  .hmrc-banner p {
    font-size: 16px;
    line-height: 1.25
  }
}
.hmrc-banner span {
  display: table-cell;
  vertical-align: baseline
}

.organisation-logo {
  padding: 3px 0 3px 30px;
  background: url("../images/crests/hmrc_crest_18px.png") 5px center no-repeat;
  background-size: auto 20px;
  border-left: 2px solid #009390;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo {
    background-image: url("../images/crests/hmrc_crest_18px_x2.png");
  }
}
@media (min-width: 641px) {
  .organisation-logo {
    background-size: auto 26px;
    padding: 3px 0 3px 38px
  }
}
.organisation-logo p {
  font: 13px/16px Helvetica, Arial;
  margin: 0
}
@media (min-width: 641px) {
  .organisation-logo p {
    font: 18px/22px Helvetica, Arial
  }
}