@import "node_modules/govuk-frontend/settings/all";
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the govuk-frontend assets path
$govuk-assets-path: "../";
$govuk-images-path: "#{$govuk-assets-path}images/";

@import "node_modules/govuk-frontend/all";
